.heading-section {
    background: url(../images/marketsServed3.jpg) no-repeat center;
    background-size: cover;
    width: 100vw;
    height: 90vh;
}

.heading-section::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.67);
}

.heading-section-title-div {
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    padding: 4rem;
    z-index: 15;
}

.heading-section-title-tags {
    z-index: 15;
}

.heading-section-title-tags>h1,
.heading-section-title-tags>h5 {
    color: white;
    z-index: 15;
}

.heading-section-title-tags>h1 {
    font-size: 4.5rem;
}

.heading-section-title-tags>p {
    color: rgba(210, 171, 44, 1);
    font-size: 1.5rem;
}

.heading-section-title-div>h1 {
    color: white;
    z-index: 5;
}

/* GRID IMAGES CSS */
.grid-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid-section>.row>.col-12 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.grid {
    position: relative;
    margin: 0 auto;
    padding: 1em 0em;
    list-style: none;
    text-align: center;
}

/* Common style */
.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 0px 0%;
    min-width: 220px;
    max-width: 380px;
    max-height: 360px;
    width: 48%;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}

.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption>a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h4 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.grid figure h4 span {
    font-weight: 800;
}

.grid figure h4,
.grid figure p {
    margin: 0;
    color: white;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 60%;
}


/*---------------*/
/***** Bubba *****/
/*---------------*/

figure.effect-bubba {
    background: linear-gradient(to bottom right, #d2ab2c 0%, #000000 100%);


}

figure.effect-bubba img {
    opacity: 0.7;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.effect-bubba:hover img {
    opacity: 0.4;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}

figure.effect-bubba figcaption::after {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
}

figure.effect-bubba h4 {
    padding-top: 10%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
}

figure.effect-bubba p {
    padding: 15px 2.5em;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

figure.effect-bubba:hover h4,
figure.effect-bubba:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}