.contacts-main-section>.row {
    padding: 0rem;
}

.contacts-main-section>.row>.form-col {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-image {
    width: 100%;
    height: 100%;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: brightness(45%)
}

.contacts-main-section>.row>.image-col {
    background: url(../images/pattern8.png);
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.contacts-main-section>.row>.form-col {
    background: url(../images/pattern8.png);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem;
}

.contact-text-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4rem;
    max-width: 25rem;
    text-align: left;
    color: rgb(0, 0, 0);
    border: 3px solid #ffffff;
    z-index: 15;
}

.contact-text-div>h3 {
    color: white;
    z-index: 15;
}

.contact-text-div>ul {
    color: white;
    z-index: 15;
}

.border-span1 {
    font-weight: 600;
    text-align: center;
    background-color: #1d1d1d;
    padding: 0.2rem 3rem;
    z-index: 5;
    margin-top: 0.5rem;
}

.border-span2 {
    font-weight: 600;
    text-align: center;
    background-color: #ffffff;
    padding: 0.15rem 2rem;
    z-index: 5;
    margin-top: 0.5rem;
}

.form-title-h1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.li-title {
    color: rgba(210, 171, 44, 1);
    font-size: 1.2rem;
}