.heading-section {
    background: url(../images/specialEvents1.jpg) no-repeat center;
    background-size: cover;
    width: 100vw;
    height: 90vh;
}

.heading-section::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.67);
}

.heading-section-title-div {
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    padding: 4rem;
    z-index: 15;
}

.heading-section-title-tags {
    z-index: 15;
}

.heading-section-title-tags>h1,
.heading-section-title-tags>h5 {
    color: white;
    z-index: 15;
}

.heading-section-title-tags>h1 {
    font-size: 4.5rem;
}

.heading-section-title-tags>p {
    color: rgba(210, 171, 44, 1);
    font-size: 1.5rem;
}

.heading-section-title-div>h1 {
    color: white;
    z-index: 5;
}


.heading-section-title-div {
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    padding: 4rem;
}

.heading-section-title-div>h1 {
    color: white;
    z-index: 5;
}

.tour-section {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 35%, rgba(210, 171, 44, 0.9) 35%, rgba(210, 171, 44, 0.9) 59%, rgba(255, 255, 255, 1) 59%);
}

.tour-main-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 3rem;
}

.tour-text-col {
    background: url(../images/pattern8.png);
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
}

.tour-text-col>h2 {
    margin: 0rem 0;
}

.tour-text-col>p {
    max-width: 30rem;
    text-align: center;
}

.tour-text-col>p>strong {
    color: rgba(210, 171, 44, 1);
    font-weight: 400;
}

.tours-images-row>div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0rem;
}

.tour-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem;
    padding: 0rem;
    width: auto;
    height: auto;
    filter: saturate(90%);
}


.tour-image-middle {
    transform: scale(1);
    /*border: 3px solid rgba(210, 171, 44, 1);*/
}

/* PLACES HEADING */
.places-heading-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.places-heading-main-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.places-heading-title-col {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 2rem;
    text-align: left;
}

/* TOUR PLACES*/
.tour-places-section {
    margin: 2rem;
}

.tour-places-main-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: url(../images/pattern8.png);
    background-size: contain;
}

.tour-places-text-col1::before,
.tour-places-text-col2::before,
.tour-places-text-col3::before,
.tour-places-text-col4::before,
.tour-places-text-col5::before,
.tour-places-text-col6::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.92);
}

.tour-places-text-col1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(../images/wedding1.jpg) no-repeat center;
    background-size: cover;
    height: 450px
}

.tour-places-text-col2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(../images/prom1.jpg) no-repeat center;
    background-size: cover;
    height: 450px
}

.tour-places-text-col3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(../images/honeymoon5.jpg) no-repeat center;
    background-size: cover;
    height: 450px
}

.tour-places-text-col4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(../images/anniversary1.jpg) no-repeat center;
    background-size: cover;
    height: 450px
}

.tour-places-text-col5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(../images/date4.jpg) no-repeat center;
    background-size: cover;
    height: 450px
}

.tour-places-text-col6 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(../images/sport1.jpg) no-repeat center;
    background-size: cover;
    height: 450px
}

.tour-places-text-col1>h2,
.tour-places-text-col2>h2,
.tour-places-text-col3>h2,
.tour-places-text-col4>h2,
.tour-places-text-col5>h2,
.tour-places-text-col6>h2 {
    color: white;
    z-index: 5;
    padding: 0.5rem 3rem;
    font-size: 25px;
}

.tour-places-text-col1>p,
.tour-places-text-col2>p,
.tour-places-text-col3>p,
.tour-places-text-col4>p,
.tour-places-text-col5>p,
.tour-places-text-col6>p {
    color: white;
    z-index: 5;
    padding: 0rem 2rem;
    padding-bottom: 2rem;
    font-size: 13px;
}

.tour-places-text-col1>span,
.tour-places-text-col2>span,
.tour-places-text-col3>span,
.tour-places-text-col4>span,
.tour-places-text-col5>span,
.tour-places-text-col6>span {
    font-weight: 600;
    text-align: center;
    background-color: rgba(210, 171, 44, 1);
    padding: 0.1rem 1rem;
    z-index: 5;
}

.tour-places-carousel-col {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

}

.carousel-caption>h5,
.carousel-caption>p {
    z-index: 15;
    color: rgb(0, 0, 0);

}

.carousel-caption {
    background-color: rgb(255, 255, 255);
    padding: 1rem;
}

.carousel .carousel-inner {
    height: 450px
}

.carousel-inner .carousel-item img {
    min-height: 200px;
    /*//prevent it from stretch in screen size < than 768px*/
    object-fit: cover
}

@media(max-width:768px) {
    .carousel .carousel-inner {
        /*//prevent it from adding a white space between carousel and container elements*/
        height: auto
    }
}

/*---------------MEDIA QUIRES------------------*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .tour-places-text-col1>p,
    .tour-places-text-col2>p,
    .tour-places-text-col3>p,
    .tour-places-text-col4>p,
    .tour-places-text-col5>p,
    .tour-places-text-col6>p {
        color: white;
        z-index: 5;
        padding: 0rem 0rem;
        padding-bottom: 2rem;
        font-size: 10px;
    }

    .tour-text-col {
        padding: 0rem;
        margin-bottom: 2rem;
        text-align: justify;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px)and(max-width: 768px) {

    .tour-places-text-col1>p,
    .tour-places-text-col2>p,
    .tour-places-text-col3>p,
    .tour-places-text-col4>p,
    .tour-places-text-col5>p,
    .tour-places-text-col6>p {
        color: white;
        z-index: 5;
        padding: 0rem 0rem;
        padding-bottom: 2rem;
        font-size: 10px;
    }

    .tour-text-col {
        padding: 0rem;
        margin-bottom: 2rem;
        text-align: justify;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px)and(max-width: 1090px) {

    .tour-places-text-col1>p,
    .tour-places-text-col2>p,
    .tour-places-text-col3>p,
    .tour-places-text-col4>p,
    .tour-places-text-col5>p,
    .tour-places-text-col6>p {
        color: white;
        z-index: 5;
        padding: 0rem 0rem;
        padding-bottom: 2rem;
        font-size: 10px;
    }

    .tour-text-col {
        padding: 0rem;
        margin-bottom: 2rem;
        text-align: justify;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}